*{
    box-sizing: border-box;
}
#container{
    width: 500px;
    height: 500px;
    background-color: rgb(72, 73, 75);
}
#container > div:not(#centerbox){
    height: 175px;
    width: 175px;
    display: inline-block;
    margin: none;
    padding: 0px;
    position: relative;
}
#redbox{
    background-color: rgb(252, 5, 5);
}
#greenbox{
    background-color: rgb(12, 245, 12);
    left: 146px;
}
#yellowbox{
    background-color: yellow;
    top: 146px;
    left: 146px;
}
#bluebox{
    background-color: rgb(52, 175, 216);
    top: 146px;
}
#centerbox{
    height: 150px;
    width: 150px;
    background-color: brown;
    display: inline-block;
    position: relative;
    bottom: 183.5px;
    left: 175px;
    border-top: 75px solid rgb(12, 245, 12);
    border-left: 75px solid rgb(252, 5, 5);
    border-right: 75px solid yellow;
    border-bottom: 75px solid rgb(52, 175, 216);
    
}

#redinner,#blueinner,#yellowinner,#greeninner{
    background-color: white;
    height: 122.5px;
    width: 122.5px;
    position: absolute;
    top: 26.25px;
    left: 24px;
}
.redcircle{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(252, 5, 5);
    display: inline-block;
}
#rrighttop{
    position: absolute;
    left: 70px ;
    top: 10px;
}
#rrightbottom{
    position: absolute;
    left: 75px;
    top: 75px;
}
#rleftbottom{
    position: absolute;
    top: 75px;
    left: 10px;
}
#rlefttop{
    position: absolute;
    top: 10px;
    left: 10px;
}
.greencircle{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(12, 245, 12);
    display: inline-block;
}
#grighttop{
    position: absolute;
    left: 70px ;
    top: 10px;
}
#grightbottom{
    position: absolute;
    left: 75px;
    top: 75px;
}
#gleftbottom{
    position: absolute;
    top: 75px;
    left: 10px;
}
#glefttop{
    position: absolute;
    top: 10px;
    left: 10px;
}
.bluecircle{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(52, 175, 216);
    display: inline-block;
}
#brighttop{
    position: absolute;
    left: 70px ;
    top: 10px;
}
#brightbottom{
    position: absolute;
    left: 75px;
    top: 75px;
}
#bleftbottom{
    position: absolute;
    top: 75px;
    left: 10px;
}
#blefttop{
    position: absolute;
    top: 10px;
    left: 10px;
}
.yellowcircle{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: yellow;
    display: inline-block;
}
#yrighttop{
    position: absolute;
    left: 70px ;
    top: 10px;
}
#yrightbottom{
    position: absolute;
    left: 75px;
    top: 75px;
}
#yleftbottom{
    position: absolute;
    top: 75px;
    left: 10px;
}
#ylefttop{
    position: absolute;
    top: 10px;
    left: 10px;
}
#redtable td:not(.rsquare),#yellowtable td:not(.ysquare){
    height: 45px;
    width: 100px;
    background-color: rgb(253, 253, 253);
}
#greentable td:not(.gsquare),#bluetable td:not(.bsquare){
    height: 26px;
    width: 50px;
    background-color: rgb(253, 253, 253);
}

#redtable{
    width: 175px;
    height: 150px;
    position: absolute;
    top: 183.5px;
    background-color: black;
}
.rsquare{
    background-color: rgb(252, 5, 5);
}
#greentable{
    width: 150px;
    height: 175px;
    position: absolute;
    top: 7.5px;
    left: 182.5px;
    background-color: black;
}
.gsquare{
    background-color: rgb(12, 245, 12);
}
#bluetable{
    width: 150px;
    height: 175px;
    position: absolute;
    left: 182.5px;
    bottom: 139px;
    background-color: black;
}
.bsquare{
    background-color: rgb(52, 175, 216);
}
#yellowtable{
    width: 175px;
    height: 150px;
    left: 332px;
    position: absolute;
    top: 183.5px;
    background-color: black;
}
.ysquare{
    background-color: yellow;
}