*{
    box-sizing: border-box;
}
#container{
    width: 500px;
    height: 500px;
    background-color: rgb(72, 73, 75);
}
#container > div:not(#centerbox){
    height: 200px;
    width: 200px;
    display: inline-block;
    margin: none;
    padding: 0px;
    position: relative;
    border: 2px solid black;
}
#redbox{
    background-color: rgb(252, 5, 5);
    top: 0px;
}
#greenbox{
    background-color: rgb(12, 245, 12);
    top: 0px;
    left: 96px;
}
#yellowbox{
    background-color: yellow;
    top: 96px;
    left: 96px;
}
#bluebox{
    background-color: rgb(52, 175, 216);
    top: 96px;
}
#centerbox{
    height: 100px;
    width: 100px;
    display: inline-block;
    position: relative;
    left: 200px;
    bottom: 208px;
    border-top: 50px solid rgb(12, 245, 12);
    border-left: 50px solid rgb(252, 5, 5);
    border-right: 50px solid yellow;
    border-bottom: 50px solid rgb(52, 175, 216);
    background-color: black;
}
#redinner,#blueinner,#yellowinner,#greeninner{
    background-color: white;
    height: 150px;
    width: 150px;
    position: absolute;
    top: 22px;
    left: 22px;
    border: 2px solid black;
}
.circle{
    width: 45px;
    height: 45px;
    border-radius: 200px;
    border: 2px solid black;
    display: inline-block;
}
.righttop{
    position: absolute;
    left: 86px ;
    top: 15px;
}
.rightbottom{
    position: absolute;
    left: 86px;
    top: 80px;
}
.leftbottom{
    position: absolute;
    top: 80px;
    left: 18px;
}
.lefttop{
    position: absolute;
    top: 15px;
    left: 18px;
}
#redinner div{
    background-color: rgb(252, 5, 5);
}
#greeninner div{
    background-color: rgb(12, 245, 12);
}
#blueinner div{
    background-color: rgb(52, 175, 216);
}
#yellowinner div{
    background-color: yellow;
}
#redtable td,#yellowtable td{
    height: 32px;
    width: 32px;
    background-color: rgb(255, 255, 255);
}
#greentable td,#bluetable td{
    height: 30px;
    width: 38px;
    background-color: rgb(253, 253, 253);
}
#redtable .rsquare{
    background-color: rgb(252, 5, 5);
}
#greentable .gsquare{
    background-color: rgb(12, 245, 12);
}
#bluetable .bsquare{
    background-color: rgb(52, 175, 216);
}
#yellowtable .ysquare{
    background-color: yellow;
}
#redtable{
    width: 200px;
    height: 100px;
    position: absolute;
    top: 206px;
    background-color: black;
}
#greentable{
    width: 103.5px;
    height: 200px;
    position: absolute;
    top: 7.5px;
    left: 206px;
    background-color: black;
}
#bluetable{
    width: 103.5px;
    height: 200px;
    position: absolute;
    left: 206px;
    top: 308px;
    background-color: black;
}
#yellowtable{
    width: 200px;
    height: 100px;
    left: 308px;
    position: absolute;
    top: 206px;
    background-color: black;
}